*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
  font-weight: 500;
}

h1 {
  background-color: transparent;
  color: #ffffff;
  padding-top: 2rem;
}

h2 {
  color: #b3b4b5;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
}

p {
  font-size: 1.5rem;

  margin-top: 0.6rem;
}

.data-spacing {
  margin-top: 1.2rem;
}

#top-half-main {
  background-image: url("./images/pattern-bg.png");
  height: 20rem;
}

#main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#search-main {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1.8rem 0;
}

#address-data {
  background: white;
  z-index: 1;
  border-radius: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

input {
  padding: 1rem;
  border: none;
  flex: 0 1 25rem;
  border-radius: 1rem 0 0 1rem;
}

input,
input::-webkit-input-placeholder {
  font-size: 1.1rem;
}

button {
  border: none;
  flex: 0 0.2 3rem;
  background: black;
  border-radius: 0 1rem 1rem 0;
}

@media (min-width: 700px) {
  p {
    text-align: left;
  }

  h2 {
    text-align: left;
  }
  #top-half-main {
    height: 16rem;
  }

  #address-data {
    display: flex;
    background: white;
    z-index: 1;
    border-radius: 1rem;
    padding: 1.5rem;
  }

  .data-spacing {
    flex: 1 1 0;
  }

  #address-data > * + * {
    padding-left: 1.7em;
    border-left: solid 0.7px #d3d3d3;
  }

  #search-main {
    display: flex;
    justify-content: center;
  }

  input {
    flex: 0 0 30rem;
  }

  button {
    flex: 0 0 3rem;
  }
}
